body {
  font: 14px "Century Gothic", Futura, sans-serif;
  margin: 20px;
  color: white;
  background-color: #0e1a73;
}

ol, ul {
  padding-left: 30px;
}

.status {
  margin-bottom: 10px;
}

.chat-log {
  width: 300px;
  height: 500px;
  line-height: 1em;
  overflow: scroll;
  padding: 5px;
}
